<?xml version="1.0"?>
<robot name="myfirst">


  <link name="base_link"/>

  <link name="body">
    <visual>
      <geometry>
        <mesh filename="file:////home/ugo/Desktop/Cours/3A/WORKSPACEROS/src/aip_gazebo/models/shuttle_parts/navette_body.stl" scale="0.04 0.04 0.04"/>
      </geometry>
    </visual>
    <collision>

      <origin xyz="0.1 0 0.13" rpy="0 0 0"/>

      <geometry>
        <box size="0.4 0.2 0.05" />
      </geometry>
      
      
      <surface>
        <friction>
          <ode>
            <mu>0.5</mu>
            <mu2>0.5</mu2>
          </ode>
        </friction>
        <bounce>
          <restitution_coefficient>0.01</restitution_coefficient>
          <threshold>0.01</threshold>
        </bounce>
        <contact>
          <ode>
            <max_vel>0.1</max_vel>
            <soft_cfm>0.8</soft_cfm>
            <soft_erp>0.8</soft_erp>
            <kd>2500</kd>
            <kp>10</kp>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
      
    </collision>

    <inertial>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia
        ixx="0.01" ixy="0" ixz="0"
        iyy="0.02" iyz="0"
        izz="0.001"/>
    </inertial>
  
  </link>

  <link name="cylinder1">
    <collision>
      <origin xyz="0 0 0.065" rpy="0 0 0"/>

      <geometry>
        <cylinder radius="0.05" length="0.07"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia
        ixx="0.01" ixy="0" ixz="0"
        iyy="0.02" iyz="0"
        izz="0.001"/>
    </inertial>
  </link>


  <link name="cylinder2">
    <collision>
      <origin xyz="0 0 0.065" rpy="0 0 0"/>

      <geometry>
        <cylinder radius="0.05" length="0.07"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia
        ixx="0.01" ixy="0" ixz="0"
        iyy="0.02" iyz="0"
        izz="0.001"/>
    </inertial>
  </link>



  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="body"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<joint name="cylinder1_joint" type="fixed">
  <parent link="body"/>
  <child link="cylinder1"/>
  <origin xyz="0 0.07 0" rpy="0 0 0"/>
</joint>



<joint name="cylinder2_joint" type="fixed">
  <parent link="body"/>
  <child link="cylinder2"/>
  <origin xyz="0 -0.07 0" rpy="0 0 0"/>
</joint>



<gazebo reference="body">
  <material>Gazebo/Green</material>


  <surface>
    <friction>
      <ode>
        <mu>0.5</mu>
        <mu2>0.5</mu2>
      </ode>
    </friction>
    <bounce>
      <restitution_coefficient>0.01</restitution_coefficient>
      <threshold>0.01</threshold>
    </bounce>
    <contact>
      <ode>
        <max_vel>0.1</max_vel>
        <soft_cfm>0.8</soft_cfm>
        <soft_erp>0.8</soft_erp>
        <kd>2500</kd>
        <kp>10</kp>
        <min_depth>0.001</min_depth>
      </ode>
    </contact>
  </surface>
  
  
</gazebo>


</robot>
